---
message: "Überall dieselbe alte Leier. Das Layout ist fertig, der Text lässt auf sich warten. Damit das Layout nun nicht nackt im Raume steht und sich klein und leer vorkommt, springe ich ein: der Blindtext. Genau zu diesem Zwecke erschaffen, immer im Schatten meines großen Bruders »Lorem Ipsum«, freue ich mich jedes Mal, wenn Sie ein paar Zeilen lesen. Denn esse est percipi - Sein ist wahrgenommen werden."
---
<li class="partial" data-partial="fragments/ticker/entry">
  <img src="https://graph.facebook.com/{{{user.id}}}/picture?type=square" alt="{{{user.name}}}" />
  <blockquote>
    <div class="cite">
      <p>
        {{{message}}}
      </p>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <footer>
      <cite>
        <a href="https://www.facebook.com/{{{user.id}}}/">{{{user.name}}}</a>
      </cite>
    </footer>
  </blockquote>
</li>
